:root {
  --mainBlue: #2a2a72;
  --mainWhite: #f1f2f6;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

::-webkit-scrollbar {
    width:1px;
    background: transparent; /* make scrollbar transparent */
}

body {
  font-family: 'Dosis', sans-serif !important;
  background: #74b9ff!important;
  overflow:   scroll;
}

.text-title {
  font-family: 'Quicksand', sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.products {
  font-size: 24px;
  margin-top: 2px;
  margin-right: 9px;
}

i {
  font-size: 20px;
  margin-top: 5px;
}

/* Card and Cart */ 

.card {
  -webkit-box-shadow: 0px 14px 19px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 19px -3px rgba(0,0,0,0.75);
box-shadow: 0px 14px 19px -3px rgba(0,0,0,0.75);
}

.footer {
  background: #f1f2f6
}

/* .emptycart-bg {
  background: #dff9fb;
  width: 100%;
  box-shadow: 0px 14px 19px -3px rgba(0,0,0,0.75);
  margin: 20px;
  border-radius: 10px;
  margin-top:10%;
  position: fixed;
} */

.jumbotron {
  margin-top: 8%;
  width: 80%;
  margin: 10% 0 0 10%;
  box-shadow: 0px 14px 19px -3px rgba(0,0,0,0.75);
  position: fixed;
}

.jumbotron img {
  margin: 0 0 0 15%;
}

@media only screen and (max-width: 768px) {
  .jumbotron img {
    width: 80%;
    margin-left: 10%;
  }

  .jumbotron {
    margin-top: 16%;
  }

}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container:hover .cart-btn {
  transform: translate(0, 0);
}

.img-container:hover .eye-btn {
  transform: translate(0, 0);
}

.cart-btn:hover {
  color: #487eb0;
}

.btn-black {
  background: transparent;
  text-transform:capitalize;
  font-size: 0.9rem !important;
  color: #34495e;
  border-radius: 20%;
  border: 0.1rem solid #2c3e50 !important;
}

.btn-black:hover {
  background: #636e72 !important;
  color: #ecf0f1 !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color:white; 
}

.fa-trash {
  color: #ff7675;
}

.fa-home {
  margin-top: 15px;
}

.title-text {
  margin-top: 30px;
}

.cartMargin {
  margin-top: 200px;
}



.page {
    position:absolute;
    top:100px;
    left:0;
    right:0;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

.outer-div {
  margin-top:85px;
}

/* .outer-div {
  height:100%;
  width:100%;
  overflow:hidden;
}

.inner-dev {
  width:100%;
  height:99%;
  overflow-y:scroll;
  padding-right:17px;
} */



